*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  margin: 0 auto;
  width: 1800px;

}
/* BODY */
.bodyCar{
    background-image: linear-gradient(to bottom, #1f2026, #000000);
    background-attachment:fixed;
    height:100%;

}
/* HEADER */

.logo{
  text-align: center;
}

.navSearch{
  background-color: #dc1a28;
  font-weight: bolder;
}

.searchButton{
  border-radius: 5px;
  background-color: #dc1a28;
  font-weight: bold;
  width: 60px;
}

.selectTypology{
  border-radius: 5px;
  background-color: #dc1a28;
  font-weight: bold;
}

#siteName,
.navSearch{
  text-align: center;
}

#siteName{
  color: #E50914;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

/* STILI ANTEPRIMA FILMS */
.containerAnteprima{
  display: flex;
  flex-direction: row;
  overflow: auto;
  margin-top: 100px;
}

.imagesCover{
  border-radius: 3px;
  transition: 0.5s;
  position: absolute;
}

.imagesCover:hover{
  opacity: 0;
}

.textBox{
  max-height: 300px;
  min-width: 500px;
  max-width: 500px;
}

.dimensioniAnteprima{
  height: 281px;
  min-width: 500px;
  max-width: 500px;
  opacity: 0.8;
  margin: 10px;
  box-shadow: #000000 1px 2px ;
  color: #ccc;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.starActive{
  color: yellow,
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dc1a28;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>
