*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  margin: 0 auto;
  width: 1800px;

}
/* BODY */
.bodyCar{
    background-image: linear-gradient(to bottom, #1f2026, #000000);
    background-attachment:fixed;
    height:100%;

}
/* HEADER */

.logo{
  text-align: center;
}

#siteName,
.navSearch{
  text-align: center;
}

#siteName{
  color: #E50914;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

/* STILI ANTEPRIMA FILMS */
.containerAnteprima{
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.imagesCover{
  border-radius: 3px;
  transition: 0.5s;
  position: static;
}

.imagesCover:hover{
  opacity: 0;
}

.textBox{
}

.dimensioniAnteprima{
  height: 500px;
  min-width: 500px;
  max-width: 500px;
  opacity: 0.8;
  margin: 10px;
  box-shadow: #000000 1px 2px ;
  color: #ccc;
  overflow-y: auto;
  overflow-x: hidden;
}

.starActive{
  color: yellow,
}
