<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Boolfix</title>
  <!-- CDN -->
  <script src="https://kit.fontawesome.com/35b3b34844.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body class="bodyCar">
  <!-- APERTURA DIV ROOT -->
  <div id="root">
    <!-- HEADER NAV SELECT -->
    <header>
      <div class="logo">
        <img src="img/logo.png" alt="">
      </div>
      <input class="navSearch" type="text" v-model="searchMovie" name="" value="" @keyup.enter="searchFunction">
      <input class="searchButton" type="button" name="" value="Search" @click="searchFunction">
      <!-- SELECT TYPOLOGY -->
      <select class="selectTypology" v-model="selectTypology" @click="filterTypology()" name="">
        <option value="ALL">ALL</option>
        <option v-for="typology in arrayTypology">{{typology}}</option>
      </select>
    </header>
    <!-- INSIEME FILM TROVATI -->
    <div class="containerAnteprima">
      <div class="dimensioniAnteprima" v-for="film in arraySearches" v-if="film.media_type === selectTypology || selectTypology === 'ALL'">
        <div class="imgResize">
          <img class="imagesCover" :src="arrayConfiguration.base_url + 'w500' + film.backdrop_path" alt="">
        </div>
        <div class="textBox">
          <div class="titleOriginal">Titolo originale:{{film.original_title}}</div>
          <div class="title">Titolo:{{film.title}}</div>
          <!-- SEZIONE BANDIERE -->
          <div class="leanguage">
            <p>Lingua originale:</p>
            <template v-if="film.original_language==='en'">
              <img :src="flagsLink + 'gb' + '/flat'+'/16.png'">
            </template>
            <template v-else-if="film.original_language==='ja'">
              <img :src="flagsLink + 'jp' + '/flat'+'/16.png'">
            </template>
            <template v-else>
              <img :src="flagsLink + film.original_language + '/flat'+'/16.png'">
            </template>
            <!-- SEZIONE VOTO -->
            <div class="vote ">
              <i  v-for="index in getVote(film.vote_average) " class="fas fa-star starVote"></i>
              <i  v-for="index in (5 - getVote(film.vote_average)) " class="far fa-star starVote"></i>
            </div>
            <div class="overview">
              {{film.overview}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
